<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Game Mania - Sua Loja Especializada em Games e Computadores</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner1.png" alt="" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner2.png" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner3.png" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Navegue Pelas Marcas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="xbox"><img src="./assets/img/xbox.jpg" class="rounded-circle img-fluid border"></a>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="playstation"><img src="./assets/img/playstation.jpg" class="rounded-circle img-fluid border"></a>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <img src="./assets/img/gamemania.png" class="rounded-circle img-fluid border">
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="starwars"><img src="./assets/img/star_wars.png" class="rounded-circle img-fluid border"></a>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="computadores"><img src="./assets/img/pc.jpg" class="rounded-circle img-fluid border"></a>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="nintendo"><img src="./assets/img/nintendo.png" class="rounded-circle img-fluid border"></a>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Destaques</h1>
                    <p>
                        Confira Alguns dos Destaques.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                            <img src="./assets/img/fifa23.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="h2 text-decoration-none text-dark">Fifa 23 PS4</a>
                            <p class="card-text">
                                O Fifa 23 é o mais novo lançamento da empresa EA Sports. O jogo chega com a melhor gameplay e
                                ambientação de toda a saga, sendo perfeito para todas as idades e principalmente para amantes do esporte.
                                Essa edição é a mais especial de todas por ser a última com o nome Fifa, além de contar com mais atmosferas de final de campeonato.
                                Campos mais reais, a física da bola e dos jogadores melhoradas, redes balançando e torcida cantando. Foram implementadas novas
                                cutscenes pré-jogo, imersão do modo carreira. Pro Clubs e Ultimate Team melhorados, gráficos incríveis, além da melhoria do Hyper Motion,
                                que é uma aplicação desenvolvida pelos desenvolvedores do jogo para trazer mais emoção, tal qual, jogadores do seu time pedindo a 
                                bola ou o zagueiro adversário escondendo os braços dentro da área.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                            <img src="./assets/img/gta xbox.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="h2 text-decoration-none text-dark">Grand Theft Auto: The Trilogy</a>
                            <p class="card-text">
                                Grand Theft Auto: The Trilogy, jogue os três maiores clássicos da saga GTA mas com os gráficos totalmente remasterizados.
                                Desfrute a sensação de jogos que marcaram uma época e hoje voltaram com um gráfico muito melhor atualizado para as gerações de games de hoje.   
                                A Rockstar traz esses três grandes títulos totalmente atualizados ao estilo de Grand Theft Auto V, com controles modernos, aprimoramentos de mira,
                                menus de armas, minimapa melhorado, novas conquistas e texturas com um esquema de iluminação que irá elevar a qualidade gráfica e deixar os jogos
                                com uma cara nova.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                            <img src="./assets/img/supermario-3dallstars.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="#" class="h2 text-decoration-none text-dark">Super Mario 3D All-Stars </a>
                            <p class="card-text">
                                O belíssimo Super Mario 3D All-Stars, é uma compilação de jogos de plataforma 3D desenvolvido pela Nintendo para o console Nintendo Switch.
                                O jogo comemora o 35º aniversário da franquia Super Mario apresentando relançamentos em alto definição de Super Mario 64 (1996), Super Mario 
                                Sushine (2002) e Super Mario Galaxy (2007).

                            </p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
</body>
</html>