<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">PlayStation</h1>
                <p>
                    Está a procura de games irados de playstation para comprar? Aqui na Game Mania temos o catálogo mais completo com os jogos mais vendidos do mercado,
                    além de itens raros e exclusivos para colecionadores gamers. Temos jogos para PS3, PS4 e até mesmo para o novo PS5! Todo mundo está jogando,
                    você não quer ficar de fora, né?
                </p>
                <h1 class="h1">Confira nossos Preços</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                        <img src="./assets/img/Dynasty Warriors 7 Xtreme Legends PS3.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">Dynasty Warriors 7 Xtreme Legends PS3</a>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 191,90</li>
                            <p class="card-text">
                                No cartão em até 5x, sem juros
                            </p>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 172,71</li>
                            <p  class="card-text" >
                                No PIX
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                        <img src="./assets/img/Ghost Recon Breakpoint PS4.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">Ghost Recon Breakpoint PS4</a>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 95,90</li>
                            <p class="card-text">
                                No cartão em até 5x, sem juros
                            </p>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 86,31 </li>
                            <p  class="card-text" >
                                No PIX
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                        <img src="./assets/img/fifa23-ps5.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">Fifa 23 PS5 </a>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 349,92</li>
                            <p class="card-text">
                                No cartão em até 5x, sem juros
                            </p>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 314,91 </li>
                            <p  class="card-text" >
                                No PIX
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                        <img src="./assets/img/console-playstation-5-825gb-com-leitor-de-disco-cfi-1114a-a.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">
                            Console Playstation 5 com Horizon Forbidden West 825gb com Leitor de Disco CFI</a>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 5.599,92</li>
                            <p class="card-text">
                                No cartão em até 12x, sem juros.
                            </p>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 5.039,90</li>
                            <p  class="card-text" >
                                No PIX
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                        <img src="./assets/img/controle-playstation-4-dualshock-preto-nacional-c.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">
                            Controle Playstation 4 Dualshock Preto Nacional  </a>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 379,90</li>
                            <p class="card-text">
                                No cartão em até 10x, sem juros
                            </p>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">RR$ 341,91</li>
                            <p  class="card-text" >
                                No PIX
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                        <img src="./assets/img/volante-logitech-driving-force-g29-para-ps5-ps4-ps3-e-pc-b.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="h2 text-decoration-none text-dark">Volante Logitech Driving Force G29 para PS5, PS4, PS3 e PC </a>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 1.899,96 </li>
                            <p class="card-text">
                                No cartão em até 12x, sem juros
                            </p>
                        </ul>
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="card-text">R$ 1.709,91</li>
                            <p  class="card-text" >
                                No PIX
                            </p>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Featured Product -->
